@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f6f4f6;
    --foreground: #016fd0;

    --card: #f6f4f6;
    --card-foreground: #016fd0;

    --popover: #016fd0;
    --popover-foreground: #f6f4f6;

    --primary: #013c6f;
    --primary-foreground: #f6f4f6;

    --secondary: #f6f4f6;
    --secondary-foreground: #013c6f;

    --muted: #d1d1d1;
    --muted-foreground: #0f0f0f;

    --accent: #f6f4f6;
    --accent-foreground: #016fd0;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: #2993f0;
    --input: #2993f0;
    --ring: #2993f0;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0f0f0f;
    --foreground: #81c3fe;

    --card: #016fd0;
    --card-foreground: #f6f4f6;

    --popover: #016fd0;
    --popover-foreground: #f6f4f6;

    --primary: #81c3fe;
    --primary-foreground: #0f0f0f;

    --secondary: #f6f4f6;
    --secondary-foreground: #013c6f;

    --muted: #d1d1d1;
    --muted-foreground: #0f0f0f;

    --accent: #f6f4f6;
    --accent-foreground: #016fd0;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: #2993f0;
    --input: #2993f0;
    --ring: #2993f0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* start global components */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
a,
img,
video,
button,
h1,
h2,
h3 {
  user-select: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
}

/* loader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #026fd0;
  overflow: hidden;
  z-index: 100;
}
.text-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  overflow: hidden;
  color: #f6f4f6;
  opacity: 0;
}
.big-text {
  font-size: 5rem;
}
@media screen and (max-width: 768px) {
  .big-text {
    font-size: 2.5rem;
  }
}

/* slider */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-quantity {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
/* end global components */
